body {
    margin: 0;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
    background-color: #EEE;
}

header {
    background-color: #3b5998;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-size: 16px;
    color: #FFF;
}

#login {
    float: left;
}

#progress {
    float: right;
}

.hidden {
    visibility: hidden;
}

article {
    border: 1px solid;
    padding: 5px;
    margin-bottom: 5px;
}

#content {
    overflow: hidden;
    margin: 0 auto;
    width: 960px;
    height: 480px;
    background-color: white;
}

#user-list {
    float: left;
    width: 30%;
    height: 480px;
    overflow-y: scroll;
}

#user-list ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    border-right: 1px solid #EEE;
}

#user-list ul li {
    padding: 5px;
    box-shadow: inset 0 0 1px #EEE;
    height: 50px;
}

#user-list ul li:first-child {
    box-shadow: none;
}

#user-list .large {
    float: left;
    position: relative;
}

#user-list .pgrouper {
    float: left;
    width: 50px;
    height: 50px;
}

#user-list .small {
    width: 25px;
    height: 25px;
}

#user-list .thread-name {
    margin-left: 50px;
    padding: 10px;
    height: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#user-list .focus {
    background-color: #3b5998;
    color: white;
    box-shadow: none;
}

#message-list {
    float: left;
    width: 70%;
    height: 480px;
    overflow-y: scroll;
}

#message-list p {
    margin: 1em;
}
